<div *ngIf="spinnerService.visibility | async" class="spinner-container">
  <mat-spinner style="top: 50%; left: 50%; "></mat-spinner>
</div>
<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Login">
          <h4 class="auth-page__group-title">Bem vindo, Usuário</h4>

          
          <app-login-form (sendLoginForm)="sendLoginForm()"></app-login-form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__logo-img" src="./assets/logo.jpeg" alt="logo">
      <h6 class="auth-page__logo-title">AgenDanWeb</h6>
    </div>
  </div>
</div>
